<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Product</title>
<style>
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
#cont{
    background-color:rgba(255, 217, 129, 0.848);
    height: 100vh;
    box-shadow: inset 15px 15px 15px rgb(240, 149, 165);
    max-width: 600px;
    margin: auto;
}
h2{
     margin-top: 100px;
     text-align: center;
}
#cont1{
    background-color: rgb(99, 144, 156);
    border-radius: 5%;
    width: clamp(200px,60vw,300px);
    height: clamp(100px,50vw,250px);
    margin: auto;
    display: flex;
}
form{
    margin: auto;
    display: flex;
    flex-direction: column;justify-content: space-around;
    width: 95%;
    height: 100%;
}
form input{
    height: 15%;
    border-radius: 1.5vh;border: none;
    padding-left: 2px;
    font-style: italic;
    font-weight: 1000;
}
form button{
    height: 15%;
    border-radius: 1.3vh;border: none;
}
#back{
    margin: 5px;
    width: 80px;
    height: 25px;
    border-radius: 0vh 1.4vh;
}
#back a{
    color: black;
    font-weight: 600;
    text-decoration: none;
}
</style>
</head>
<body>
    <div id="cont">
        <button id="back"><a href="./pro.ejs">Back</a></button>
        <h2><i>Fill the product details</i></h2>
        <div id="cont1">
            <form method="post"action="/submit">
                <input type="text"name="productName"placeholder="Product Name">
                <input type="number"name="price"min="0"placeholder="Price">
                <input type="number"name="quantity"min="0"placeholder="Quantity">
                <input type="text"name="pic"placeholder="picture">
                <button>Add</button>
            </form>
        </div>
    </div>
</body>
</html>